#root {
  background-color: #efefef;
  height: 100vh;
}
.App{
  background-color: #ffffff;
  width: 650px;
  margin: 0 auto;
  padding: 40px 0;
  min-height: 100vh;
}
.header{
  text-align: center;
  margin-top: 20px ;
  position: relative;
}
.header::before{
  position: absolute;
  content: '';
  width: 80%;
  height: 2px;
  background-color: #2080f7;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
}